@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{transition:0.1s ease-in-out;}
*:focus{outline:none;}
body,html{width: 100%; height: 100%;}
body{
  font-family: 'Ubuntu', sans-serif;
  background:snow;
  color:#858182;
  overflow-x: hidden;
}
a, span.hash{
  text-decoration: none;
  color: rgb(43, 123, 185);
}
a:hover{
  color: rgb(90, 151, 198);
  text-decoration: underline;
}
h1, h2, h3, h4{
  color:black;
  font-weight: normal;
  text-transform: uppercase;
}
b{color:black;}
h2{font-size: 350%;}
h3{font-size: 200%;}
h4{font-size: 150%;}
article{position: relative;}
.wrapper{
  margin: 0 auto;
  max-width: 1300px;
  width:90%;
}
#parallax{
  width:100vw;
  height:120vh;
  position:absolute;
  overflow: hidden;
  top:0;
  left:0;
  background:url(../img/bg1.jpg) 50% 50% no-repeat;
  background-size: cover;
  z-index:-1;
}
.parallax{
  transition: none;
}
#parallax div{
  position: absolute;
  height: 150vh;
  width:31vw;
  bottom:-28vh;
  transform: rotate(10deg);
  overflow: hidden;
  box-shadow: 0 0 10vw rgba(255, 255, 255, .05);
}
#parallax::after{
  position:absolute;
  bottom:0;
  left:0;
  content: "";
  width:0;
  height:0;
  border-top: 10vh solid transparent;
  border-right: 50vw solid transparent;
  border-left: 50vw solid snow;
  border-bottom: 10vh solid snow;
}
.mask1{right:-5vw;}
.mask2{right:-20vw;}
#parallax div::after{
  content:"";
  width:200%;
  height:110%;
  left:-70%;
  position: absolute;
  transform: rotate(-10deg);
  background-size: cover;
  background-position: inherit;
}
.mask1::after{
  background: url(../img/bg1.jpg) no-repeat;
}
.mask2::after{
  background: url(../img/bg3.jpg) no-repeat;
}
nav{
  position:fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 3;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c000000', endColorstr='#00000000',GradientType=0 );

}
nav .wrapper{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav li{display:inline-block;}
nav a{
  padding: 0 1em;
  line-height: 3em;
  height:3em;
  display: inline-block;
  color:white;
}
nav a:hover{
  text-shadow: 0 0 4em rgba(255,255,255,1), 0 0 2em rgba(255,255,255,1), 0 0 0.5em rgba(255,255,255,1), 0 0 1em rgba(255,255,255,1), 0 0 0.1em rgba(255,255,255,1);
}
header, article, footer{
  z-index: 2;
  position: relative;
}
header{
  height:100vh;
}
header h1{
  position: absolute;
  text-transform: uppercase;
  font-size: 220%;
  width:50vw;
  top:27vh;
  left: 17vw;
  font-weight: normal
}
header h1 span{
  font-size: 50%;
  float:right;
  margin-right: 10vw;
}
@keyframes mouse {
  0%{top: calc(50vh - 21px);}
  10%{top: calc(50vh - 41px);}
  30%{top: calc(50vh + 10px);}
  40%{top: calc(50vh - 21px);}
}
.mouse{
  position: absolute;
  top: calc(50vh - 21px);
  right: 1em;
  width:26px;
  height: 42px;
  background: url(../img/mouse.png) 50% 50% no-repeat;
  animation: mouse 2s ease-in-out infinite;
}
header .contact{
  position: absolute;
  left: 5vw;
  bottom: 3vh;
  color: gray;
}
header .contact a{
  color:lightgray;
  margin-right: 5em;
}
.story{padding: 8vh 0 0 0;}
.story h2,
.todo h2{
  padding-left:1em;
  position: relative;
  left:-1em;
}
.story h2::before,
.todo h2::before{
  content:"";
  background: black;
  position:absolute;
  width: 0.4em;
  height:2em;
  left: 0;
  top:0.5em;
}
.story .container,
.todo .container{
  column-count:2;
  column-width: 20em;
  column-gap: 3em;
  text-align: justify;
}
.story .container h3,
.todo .container h3{
  text-align: left;
}
.story img,
.todo img{width: 100%;}
.container p:first-of-type{margin-top: -2em;}
.container p:last-of-type{margin-bottom: 2em;}
.statistics{
  background:url(../img/bg2.jpg) 0% 50% no-repeat;
  background-size: cover;
  padding:2em 0 20vh 0;
  color: gray;
}
.statistics::before{
  position:absolute;
  top:0;
  left:0;
  content: "";
  width:0;
  height:0;
  border-bottom: 10vh solid transparent;
  border-right: 50vw solid transparent;
  border-left: 50vw solid snow;
  border-top: 10vh solid snow;
}
.statistics::after{
  position:absolute;
  bottom:0;
  left:0;
  content: "";
  width:0;
  height:0;
  border-top: 10vh solid transparent;
  border-left: 50vw solid transparent;
  border-right: 50vw solid #151417;
  border-bottom: 10vh solid #151417;
}
.statistics h2{
  text-align: right;
  color:white;
  position: relative;
}
.statistics h2::before{
  content:"";
  background: white;
  position:absolute;
  width: 5em;
  height:0.1em;
  right: -0.5em;
  bottom:-0.3em;
}
.statistics .container{
  display: flex;
  justify-content: space-around;
}
.stat-block{
  width: 20%;
  color:white;
  text-align: center;
}
.stat-block h3{
  color:white;
  font-size: 300%;
}
.gallery{
  background:#151417;
  padding:0 0 2em 0;
}

.gallery h2{
  text-align: center;
  margin: 0 0 1em 0;
  color: gray;
}
.gallery .container{
  text-align: center;
}
.gallery img{
  display: inline;
  width:23%;
  margin:0.5%;
}
.gallery::after{
  position:absolute;
  bottom:-20vh;
  left:0;
  content: "";
  width:0;
  height:0;
  border-bottom: 10vh solid transparent;
  border-left: 50vw solid transparent;
  border-right: 50vw solid #151417;
  border-top: 10vh solid #151417;
}
.todo{ padding: 2em 0 10em 0;}
footer{
  background:url(../img/bg4.jpg) 50% 50% no-repeat;
  background-size: cover;
}
footer .container{
  position:relative;
  top:-8em;
  color:white;
}
footer h3{
  color: white;
  text-align: center;
}
footer::before{
  position:absolute;
  top:0;
  left:0;
  content: "";
  width:0;
  height:0;
  border-bottom: none;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 30vh solid snow;
}
#map{
  margin: 0 auto;
  width:100%;
  height:20em;
  background: gray;
}
.contacts{
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 50%;
  justify-content: space-around;
}
footer p{
  margin: 0.5em 0 !important;
}
.contacts span{
  text-align: right;
  min-width:7em;
  padding: 0 0.5em;
  display: inline-block;
}
