@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{-webkit-transition:0.1s ease-in-out;transition:0.1s ease-in-out;}
*:focus{outline:none;}
body,html{width: 100%; height: 100%;}
body{
  font-family: 'Ubuntu', sans-serif;
  background:snow;
  color:#858182;
  overflow-x: hidden;
}
a, span.hash{
  text-decoration: none;
  color: rgb(43, 123, 185);
}
a:hover{
  color: rgb(90, 151, 198);
  text-decoration: underline;
}
h1, h2, h3, h4{
  color:black;
  font-weight: normal;
  text-transform: uppercase;
}
b{color:black;}
h2{font-size: 350%;}
h3{font-size: 200%;}
h4{font-size: 150%;}
article{position: relative;}
.wrapper{
  margin: 0 auto;
  max-width: 1300px;
  width:90%;
}
#parallax{
  width:100vw;
  height:120vh;
  position:absolute;
  overflow: hidden;
  top:0;
  left:0;
  background:url(../img/bg1.jpg) 50% 50% no-repeat;
  background-size: cover;
  z-index:-1;
}
.parallax{
  -webkit-transition:none;
  transition: none;
}
#parallax div{
  position: absolute;
  height: 150vh;
  width:31vw;
  bottom:-28vh;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  overflow: hidden;
  box-shadow: 0 0 10vw rgba(255, 255, 255, .05);
}
#parallax::after{
  position:absolute;
  bottom:0;
  left:0;
  content: "";
  width:0;
  height:0;
  border-top: 10vh solid transparent;
  border-right: 50vw solid transparent;
  border-left: 50vw solid snow;
  border-bottom: 10vh solid snow;
}
.mask1{right:-5vw;}
.mask2{right:-20vw;}
#parallax div::after{
  content:"";
  width:200%;
  height:110%;
  left:-70%;
  position: absolute;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-size: cover;
  background-position: inherit;
}
.mask1::after{
  background: url(../img/bg1.jpg) no-repeat;
}
.mask2::after{
  background: url(../img/bg3.jpg) no-repeat;
}
.logo{
  width:10em;
  height:3em;
}
nav{
  position:fixed;
  width: 100%;
  top:0;
  left:0;
  z-index: 3;
  height:3em;
  background: rgba(0,0,0,.2);
  -webkit-transition:background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
  -webkit-transition:height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}
.menu{
  display:none;
  width:2em;
  height:2em;
  margin: 0.5em 1em;
  background: url(../img/menu.svg) 50% 50% no-repeat;
  background-size: contain;
  cursor: pointer;
}

.scroll{
  background: rgba(0,0,0,1);
}
nav .wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul{
  margin: 0;
  padding: 0;
}
nav li{display:inline-block;}
nav a{
  padding: 0 1em;
  line-height: 3em;
  height:3em;
  display: inline-block;
  color:snow;
  text-transform: uppercase;
}
nav a:hover{
  text-shadow: 0 0 4em rgba(255,255,255,1), 0 0 2em rgba(255,255,255,1), 0 0 0.5em rgba(255,255,255,1), 0 0 1em rgba(255,255,255,1), 0 0 0.1em rgba(255,255,255,1);
  color:white;
  text-decoration: none;
}
header, article, footer{
  z-index: 2;
  position: relative;
}
header{
  height:100vh;
}
header h1{
  position: absolute;
  text-transform: uppercase;
  font-size: 300%;
  width:60vw;
  top:27vh;
  left: 10vw;
  font-weight: normal
}
header h1 span{
  font-size: 50%;
  float:right;
  margin-right: 10vw;
}
@-webkit-keyframes mouse {
  0%{top: calc(50vh - 21px);}
  10%{top: calc(50vh - 41px);}
  30%{top: calc(50vh + 10px);}
  40%{top: calc(50vh - 21px);}
}
@keyframes mouse {
  0%{top: calc(50vh - 21px);}
  10%{top: calc(50vh - 41px);}
  30%{top: calc(50vh + 10px);}
  40%{top: calc(50vh - 21px);}
}
.mouse{
  position: absolute;
  top: calc(50vh - 21px);
  right: 1em;
  width:26px;
  height: 42px;
  background: url(../img/mouse.png) 50% 50% no-repeat;
  -webkit-animation: mouse 2s ease-in-out infinite;
          animation: mouse 2s ease-in-out infinite;
}
header .contact{
  position: absolute;
  left: 5vw;
  bottom: 3vh;
  color: gray;
}
header .contact a{
  color:lightgray;
  margin-right: 5em;
}
.story{padding: 10vh 0 0 0;}
.story h2,
.todo h2{
  padding-left:1em;
  position: relative;
  left:-1em;
}
.story h2::before,
.todo h2::before{
  content:"";
  background: black;
  position:absolute;
  width: 0.4em;
  height:2em;
  left: 0;
  top:0.5em;
}
.story .container,
.todo .container{
  -webkit-column-count:2;
     -moz-column-count:2;
          column-count:2;
  -webkit-column-width: 20em;
     -moz-column-width: 20em;
          column-width: 20em;
  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
  text-align: justify;
}
.story .container h3,
.todo .container h3{
  text-align: left;
}
.story img,
.todo img{width: 100%;}
.container p:first-of-type{margin-top: -2em;}
.container p:last-of-type{margin-bottom: 2em;}
.statistics{
  background:url(../img/bg2.jpg) 0% 50% no-repeat;
  background-size: cover;
  padding:10vh 0 20vh 0;
  color: gray;
  text-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,.6);
}
.statistics::before{
  position:absolute;
  top:0;
  left:0;
  content: "";
  width:0;
  height:0;
  border-bottom: 10vh solid transparent;
  border-right: 50vw solid transparent;
  border-left: 50vw solid snow;
  border-top: 10vh solid snow;
  -webkit-filter: drop-shadow(0 5px 3px rgba(0,0,0,.5));
          filter: drop-shadow(0 5px 3px rgba(0,0,0,.5));
}
.statistics::after{
  position:absolute;
  bottom:0;
  left:0;
  content: "";
  width:0;
  height:0;
  border-top: 10vh solid transparent;
  border-left: 50vw solid transparent;
  border-right: 50vw solid #151417;
  border-bottom: 10vh solid #151417;
}
.statistics h2{
  text-align: right;
  color:white;
  position: relative;
}
.statistics h2::before{
  content:"";
  background: white;
  position:absolute;
  width: 5em;
  height:0.1em;
  right: -0.5em;
  bottom:-0.3em;
}
.statistics .container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.stat-block{
  box-sizing: border-box;
  padding: 0 5px;
  width: 20%;
  min-width: 10em;
  color:white;
  text-align: center;
}
.stat-block h3{
  color:white;
  font-size: 300%;
}
.gallery{
  background:#151417;
  padding:0 0 2em 0;
}

.gallery h2{
  text-align: center;
  margin: 0 0 1em 0;
  color: gray;
  text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,.1);
}
.gallery .container{
  text-align: center;
}
.gallery img{
  display: inline;
  width:23%;
  margin:0.5%;
}
.todo::before{
  position:absolute;
  top:0;
  right:0;
  content: "";
  width:0;
  height:0;
  border-bottom: 10vh solid transparent;
  border-left: 50vw solid transparent;
  border-right: 50vw solid #151417;
  border-top: 10vh solid #151417;
}
.todo{ padding: 10vh 0 10em 0;}
footer{
  background:url(../img/bg4.jpg) 50% 50% no-repeat;
  background-size: cover;
}
footer .container{
  position:relative;
  top:-8em;
  color:white;
}
footer h3{
  color: white;
  text-align: center;
}
footer::before{
  position:absolute;
  top:0;
  left:0;
  content: "";
  width:0;
  height:0;
  border-bottom: none;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 30vh solid snow;
  -webkit-filter: drop-shadow(0 5px 3px rgba(0,0,0,.2));
          filter: drop-shadow(0 5px 3px rgba(0,0,0,.2));
}
#map{
  margin: 0 auto;
  width:100%;
  height:20em;
  background: gray;
  border:0.3em solid snow;
}
.contacts{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-shadow: 0.05em 0.05em 0.05em rgba(0,0,0,.6);
}
.contacts > div{
  width:50%;
}
footer p{
  margin: 0.5em 0 !important;
}
.contacts span{
  text-align: right;
  min-width:7em;
  padding: 0 0.5em;
  display: inline-block;
}
.copyright{
  background:rgba(0,0,0,.3);
  padding: 0.5em;
  font-size:80%;
  opacity: .7;
}
.copyright p{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.copyright p span{
  display: block;
}
@media screen and (max-width:960px) {
  .addr{display: block;}
  .menu{display: inline-block;}
  nav ul{display: none;}
  .toggle{
    height:100vh;
    background: rgba(0,0,0,.9);
  }
  .toggle ul{
    position:absolute;
    left:0;
    box-sizing: border-box;
    padding-top: 5vh;
    width:100%;
    margin-top:calc(50vh - 15em);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .toggle ul li{
    display: block;
    text-align: center;
  }
  .gallery img {
    width:48%;
  }

}
@media screen and (max-width:720px) {
  .contact span{display: block;}
  footer .contact p{text-align:right}
  .contact h3{text-align:right}
  .adress h3:first-of-type{text-align:left;}
}
@media screen and (max-width:600px) {
  header h1{
    top:6vh;
  }
  .gallery img {
    width:98%;
  }
}
@media screen and (max-height:600px) {
  header h1{
    font-size:250%;
  }
  h2{
    font-size: 250%;
  }
}
